/*Глобальные переменные*/

a {
  text-decoration: none;
  color: #212121;
}

/*Логотип*/

.logo {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/*Навигация*/

.header-links a {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-links li {
  color: rgba(255, 255, 255, 1);
}
.header-links a:active, 
.header-links a:focus{
  color: #2196f3;
}
.nav-contacts a {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-contacts li {
  color: rgba(255, 255, 255, 1);
}
.nav-contacts a:hover,
.nav-contacts a:focus {
  color: #2196f3;
}

/*Большой баннер*/

.banner-section{
  background-color: #2F303A;
}
.banner-section h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.banner-section-button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.banner-section-span {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*Качества*/

.qualities h4 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.qualities li{
  color: rgba(255, 255, 255, 1);
}
.qualities p {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Чем мы занимаемся*/

.our-occupation h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our-occupation li{
  color: rgba(255, 255, 255, 1);
}

/*Наша команда*/

.our-team {
  background-color: #F5F4FA;
}
.our-team h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our-team h3 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.our-team p {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.our-team li{
  color: rgba(255, 255, 255, 0.9);
}

/*Футер*/

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;

  background-color: #2F303A;
}
.footer .logo {

  font-family: 'Times New Roman', Times, serif;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.footer address {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #FFFFFF;
}
.footer-list-contacts li {
  color: rgba(47, 48, 58, 0.9);
}
.footer-contact a { 
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/*Портфолио*/
.portfolio-section h2 {
  color: rgba(255, 255, 255, 1);
}
.portfolio-buttons-list span {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.portfolio-buttons-list button {
background: #F5F4FA;
border-radius: 4px;
}
.portfolio-buttons-list button:active,
.portfolio-buttons-list button:focus {
  background: #2196F3;
}
.portfolio-buttons-list {
  color: rgba(255, 255, 255, 1);
}
.portfolio-img-card {
  background: #FFFFFF;
  box-sizing: border-box;
}
.portfolio-img-list li {
  color: rgba(255, 255, 255, 1);
}
.portfolio-img-list h3 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-img-list p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}